* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	font-family: Inter, sans-serif;
	line-height: 1rem;
	background: var(--white);
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--white: white;
	--font-family: "Inter", sans-serif;
}
